"""Пример config.py"""
config = {
    'token' : 'Ваш токен',
    'table-id' : 'ID гугл таблицы',
    'table-reload-time' : 'Время между обновлением данных расписания для рассылки',
    'db-path' : "Полный путь до базы данных",
    
} 

